<div class="footer-container">
    <div class="footer-grid-container">
        <h1 class="footer-logo">LOGO</h1>
        <div class="footer-copyright">Copyright &copy;2023 Jian Zhang<span clas="hidden">. All rights reserved.</span> </div>
        <div class="footer-icon-container">
            <a class="footer-1 link-icons"  href ={{webCollection[0].href}} >
                <fa-icon  [icon]="webCollection[0].icon" ></fa-icon>
            </a> 
            <a class="footer-2 link-icons"  href ={{webCollection[1].href}} >
                <fa-icon  [icon]="webCollection[1].icon"></fa-icon>
            </a> 
        </div>
    </div>
</div>
