<div class="support-container">
    <div class="support-header">
        FAQ
    </div>
    <div class="support-body">
        <ul class="faq-list">
            <li class="qa">
                <div class="question">Q:Why Orders and Proceed to Checkout not working?</div>
                <div class="answer">A: You need to sign in to use these service</div>
            </li>
            <li class="qa">
                <div class="question">Q:Why Filter and Sorting not working in the search page</div>
                <div class="answer">A: I have not fully implemented the backend service yet</div>
            </li>
            <li class="qa">
                <div class="question">Q:Why Not Yet Shipping and Canceled Order page are empty</div>
                <div class="answer">A: I have not implemented the order service so all orders can be placed but not processed</div>
            </li>
            <li class="qa">
                <div class="question">Q:Why I am navigating to the home page after signing out</div>
                <div class="answer">A: You are supposed to be navigated to the home after signing out</div>
            </li>
            <li class="qa">
                <div class="question">Q:Why is the image not appearing on the page</div>
                <div class="answer">A: The image link may no longer be available, so it cannot be retrieved</div>
            </li>
        </ul>
        <div>
            <!-- <div class="">test api</div> -->




            <!-- <div *ngIf="products[0]">
                <app-carousel 
                [unprocessedItems]="products"
                [width]="520"
                [height]="520"
            ></app-carousel>
            </div>

        </div>

        <div>
            <h4>{{product.name}}</h4>
            <p>{{product.description}}</p>
            <img [src]="product.imgSrc">
        </div> -->

        <!-- <button (click)="submit()">submit product</button> -->
        <!-- <button (click)="getData()">get product</button> -->
        <!-- <button (click)="submitDeals()">submit deals</button> -->
        
    </div>  
</div>