
.about-container{
    padding: 0px 5%;
    background-image: url('~src/assets/imgs/cubes.png');
    background-color: rgb(255, 255, 255);

}

.about-body{
    height: 100%;
    padding: 0% 10%;
}

.contact-list{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 10px 0px;
    color:rgb(28, 28, 28)
}

.contact-list-item{
    padding: 2px 0px;
}

.contact-list a{
    text-decoration: none;
    color:  #004337;
    background-color: #9f949433;
    padding: 0px 12px 2px;
    border-radius:12px;
    transition-duration: 100ms;
}

.contact-list a:hover{
    color: #4dc2ae;
    background-color: rgba(0, 0, 0, 0.6);
}

li{
    list-style:none;
}


@media only screen and (max-width: 560px){
    .about-body{
        padding: 0% 5%;
    }
    
}
