  <div class="about-container">
      <div class="about-body">
          <ul class="contact-list">
              <li class="contact-list-item">
                <h1>Jian Zhang</h1>
              </li>
              <li class="contact-list-item">
                <h3>Email: <a [href]=" 'mailto:' + email">{{email}}</a>
                </h3>
              </li>
              <li class="contact-list-item">
                <h3>GitHub: <a [href]=githublink>{{githublink}}</a></h3>
              </li>
              <li class="contact-list-item">
                <h3>LinkedIn: <a [href]=linkedinlink>{{linkedinlink}}</a></h3>
              </li>
          </ul>
          <div>
          </div>
      </div>
  </div>