.popular-item{
    padding: 10px;
    justify-content: flex-between;
    
}

.popular-list-container{
    display: flex;
    width: 100%;
    height: 160px;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: none;
}


@media only screen and (max-width: 1020px){
    .deals-layout{
      display:block;
    }
  
  }