
<div class="home-container">
    <p class="popular-header">Popular Products</p>
    <div class="popular-list-container">
        <app-popular-list></app-popular-list>
    </div>
    
    <div class="deals-container">
        <p class="deals-header">Deals</p>
        <div class="deals-layout">
            <div class="deals-component">
                <app-deals></app-deals>
            </div>
            <div class="deals-component">
                <app-recommend-list></app-recommend-list>
            </div>
        </div>
    </div>
</div>
